extends layout

block content


    header.header.clearfix
        div.container
            h2.text-muted IRC
    div.container.center
        div.user.form-inline.center
            div.form-group
                input.form-control#nickname(placeholder="what's your nickname?")
            button.btn.btn-primary#setName Set
        br
        br
        a#toggleForm Add channel
        form.form.center#newChannel
            div.form-group
                input(name="name", type="text", placeholder="Channel Name")
            div.form-group
                input(name="description" , type="text", placeholder="Description")
            button.btn.btn-primary#addNewChannel Add channel
        br
        br
        div.channelsContainer
            each channel in channels
                a.channelItem(data-channel-id="#{channel._id}", href="/channel/#{channel._id}")
                    span #{channel.name} -
                    span #{channel.description}