.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.channelsContainer {
    margin: 0 auto;
    text-align: center;
}

.channelItem {
    padding: 10px;
    border: 1px solid #E5E5E5;
    margin-right: 5px;
    height: 50px;
    display: inline-block;
}